@model List<ResultTestimonialDto>


<section class="testimonials-section py-5" style="background-color:#60636c ">
    <div class="container">
        <h2 class="text-center mb-5">Ziyaretçi Yorumları</h2>

        <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (int i = 0; i < Model.Count; i++)
                {
                    var item = Model[i];
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="testimonial-box p-4 rounded shadow text-center mx-auto" style="background-color:#f2e6ec">
                            <p class="testimonial-text">“@item.Description”</p>
                            <div class="stars mb-2">
                                <i class="@item.Icon"></i>
                                <i class="@item.Icon"></i>
                                <i class="@item.Icon"></i>
                                <i class="@item.Icon"></i>
                                <i class="@item.Icon"></i>
                            </div>
                            <div class="user-info mt-3 d-flex align-items-center justify-content-center gap-2">
                                <i class="bi bi-person-circle fs-4 text-secondary"></i>
                                <div>
                                    <h6 class="mb-0" style="color: #555;">@item.FullName</h6>
                                    <small class="text-muted">@item.Title</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <!-- SLIDER KONTROLLERİ -->
            <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
</section>

